# ignore venv
venv/
# ignore data files
data/
#ignore output files

# ignore Jupyter notebook checkpoints
.ipynb_checkpoints
# ignore Python cache files
__pycache__/
*.pyc
# ignore logs
logs/
# ignore any files/folders starting with .
.*
